.post-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Post-Main {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  box-shadow: 0px 19px 200px rgba(0, 0, 0, 0.14);
  border-radius: 1rem;
  gap: 2.1rem;
  padding: 32px 36px;
}
.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-info h2 {
  font-weight: 600px;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #201a1b;
}

.post-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.post-left > img {
  width: 63px;
  height: 63px;
}

.post-name_time-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.post-time {
  display: flex;
  align-items: center;

  gap: 12px;
  padding: 0;
}

.post-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.post-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-description .post-image > img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 100%;
}

.post-image {
  width: 100%;
  object-fit: cover;
}

.post-right > div {
  display: flex;
  gap: 15px;
}

.post-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 13px 0px;
  border-top: 1px solid #d9d9d9;
}

.post-icon-left {
  display: flex;
  align-items: center;
  gap: 21px;
}

.post-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-icon img {
  width: 24px;
  height: 24px;
}

.post-icon span {
  height: 24px;
  font-weight: 500;
}

.post-icon-right {
  display: flex;
  align-items: center;
  gap: 8px;
}
