/* Hero Container */

.hero-container {
  display: flex;
  height: 43rem;
  width: 100%;
  padding: 0 45px;
  background: var(--dim-black);
}

.hero-section {
  display: flex;
  position: relative;
}

.hero-img {
  position: absolute;
  border-radius: 5px;
  left: 29.75rem;
  top: 0;
  width: 45rem;
  height: 35rem;
}

.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 26rem;
  width: 33rem;
  left: 0px;
  top: 6rem;
  overflow: hidden;

  padding: 0 18px;
  background-color: var(--dim-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 10px 20px 5px rgba(30, 32, 44, 0.1);
  border-radius: 5px;
}

.heading {
  display: flex;
  margin-top: 2px;
}

.heading span {
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--white);
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 1.5rem;
}

.paragraph span .paragraph-head {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-m);
  color: var(--white);
}

.paragraph span {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  letter-spacing: 0.5px;

  color: var(--white);
}

.paragraph .circle-icon {
  align-self: center;
  width: 22px;
}

.paragraph .hero-btn {
  margin-top: 24px;
  align-items: center;
  margin-left: 1px;
}
