/* Hero Container */

.hero-container {
  display: flex;
  height: 43rem;
  width: 100%;
  background: var(--dim-black);
}

.hero-section {
  display: flex;
  position: relative;
  align-items: center;
}

.hero-img {
  position: absolute;
  border-radius: 5px;
  left: 25.4rem;
  top: 0;
  width: 70%;
}

.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 26rem;
  width: 33rem;
  left: 0px;
  top: 6rem;
  overflow: hidden;

  padding: 0 18px;
  background-color: var(--dim-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 10px 20px 5px rgba(30, 32, 44, 0.1);
  border-radius: 5px;
}

.heading {
  display: flex;
  margin-top: 2px;
}

.heading span {
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--white);
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 1.5rem;
}

.paragraph span .paragraph-head {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-m);
  color: var(--white);
}

.paragraph span {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  letter-spacing: 0.5px;

  color: var(--white);
}

.paragraph .circle-icon {
  align-self: center;
  width: 22px;
}

.paragraph .hero-btn {
  margin-top: 24px;
  align-items: center;
  margin-left: 1px;
}

@media screen and (max-width: 1024px) {
  .hero-container {
    height: 38rem;
    padding: 0 45px;
  }

  .hero-section {
    position: relative;
    background: pink;
  }

  .hero-img {
    /* position: absolute;
    border-radius: 5px;
    left: 29.75rem;
    top: 0; */
  }

  .hero-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* height: 26rem;
    width: 33rem;
    left: 0px;
    top: 6rem; */
    overflow: hidden;

    padding: 0 18px;
    background-color: var(--dim-black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 10px 20px 5px rgba(30, 32, 44, 0.1);
    border-radius: 5px;
    top: 3.1rem;
    width: 27rem;
    height: 23rem;
  }

  .heading span {
    font-weight: 600;
    font-size: 30px;
    color: var(--white);
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 1.5rem;
  }

  .paragraph span .paragraph-head {
    font-family: var(--font-family-poppins);
    font-weight: 500;
    font-size: var(--font-size-m);
    color: var(--white);
  }

  .paragraph span {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-family: var(--font-family-poppins);
    font-weight: 500;
    font-size: var(--font-size-s);
    letter-spacing: 0.5px;

    color: var(--white);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .hero-section {
    flex-direction: column;
  }
}
