/* Header Section begins */

.HIWheader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  color: var(--white);

  background-image: url(../../../public/images/team/img3-cut.png);

  background-position: 50% 40%;
  background-size: cover;

  transition: 5s;
}

.HIWsection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.HIWsection span {
  text-align: left;
  color: var(--white);
  flex-wrap: wrap;
}

.HIWsection span:nth-of-type(1) {
  border-bottom: 2px solid white;
  padding-bottom: 7px;
}

.HIWsection span:nth-of-type(2) {
  line-height: 27px;
  letter-spacing: 0.5;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}
.HIWsection h2 {
  color: white;
  font-size: 45px;
  font-weight: 900;
}

.howitworks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  margin-top: 4rem;
  overflow: hidden;

  padding: 2rem;
  box-shadow: 0px 10px 20px 5px rgb(40 40 46 / 10%),
    0px 6px 4px rgb(92 78 78 / 25%);
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;

  background-image: url(../../../public/images/home/post.jpg);
}

.howitworks-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 10rem;
  background: #f4f4f4;
}

.howitworks-card-heading {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.howitwords-carditems {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
