.signup-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 6rem;
  padding: 3rem;
  box-shadow: 0px 10px 20px 5px rgb(40 40 46 / 10%),
    0px 6px 4px rgb(92 78 78 / 25%);
  border-radius: 10px;
}

.signup-wrapper {
  display: flex;
  margin-top: 2rem;
  gap: 27px;
}

.signup-wrapper img {
  border: 1px solid #000000;
  border-radius: 30px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  object-position: center;
}

.sign-img {
  box-shadow: 0px 10px 20px 5px rgb(40 40 46 / 10%),
    0px 6px 4px rgb(92 78 78 / 25%);
  border-radius: 10px;
}

/* Join Model Begins */

.join-model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 0;
  gap: 35px;
}

.model-img {
  background-image: url(../../Images/model/model-large.jpg);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid var(--dim-black);
  height: 408px;
  width: 100%;
}

.overlap-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 62px 39px;
}

.model-text {
  line-height: 44px;
  margin-top: 37px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--white);
}

.model-icon {
  display: flex;
  gap: 38px;
  padding-top: 1rem;
}

.model-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  gap: 24px;
  transition: 2s ease;
}

.model-item:hover {
  color: var(--pink);
}

.model-icon span {
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-m);
  color: var(--white);
  text-align: center;
}

.model-btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 17px 14px;
  background: var(--pink);
  color: var(--white);
  box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  margin-top: 35px;
  font-family: var(--font-family-poppins);
  font-weight: 500;
  font-size: var(--font-size-s);
  letter-spacing: 0.5px;
}
