.communityNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 26px 84px rgb(0 0 0 / 7%);
  border-radius: 10px;
  position: sticky;
  top: 0;
  .communityContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        display: flex;
        flex-direction: column;
      }

      span {
        font-weight: bold;
        font-size: 1.4rem;

        &:nth-child(1) {
          color: var(--dimblack);
        }

        &:nth-child(2) {
          color: var(--pink);
        }
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 50px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      span {
      }
    }
  }
}
