.client-container {
  margin-top: 4rem;
}

.client-slider {
  display: flex;
  gap: 1.5rem;
  margin-top: 35px;
}

.client-slide {
  background-color: var(--dim-black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client-img {
  align-self: center;
  width: 100%;
  object-fit: cover;
  margin-top: 24px;
}

.client-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  margin-left: 12px;
}

.client-description h3 {
  font-size: var(--font-size-m);
  font-weight: 500;
  color: white;
}

.client-description span:nth-of-type(1) {
  font-size: var(--font-size-s);
  font-weight: 600;
  color: var(--pink);
}

.client-description span:nth-of-type(2) {
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--white);
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 8px;
}
