/* Featured Model Begins */

.featured-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
}

.featured-desc {
  display: flex;
  margin-top: 18px;
}

.featured-desc ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.featured-desc ul li {
  list-style: none;
  cursor: pointer;
}

.featured-desc ul li.active {
  color: var(--white);
  background: var(--pink);
  padding: 13px;
  box-shadow: var(--btn2-box-shadow);
  border-radius: var(--btn2-border-radius);
}

.featured-model-slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 37px;
  overflow: hidden;
  gap: 24px;
  position: relative;
}

.featured-model-slider img {
  width: 100%;
  background: linear-gradient(black blue);
}

.featured-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 67%;
  margin-left: 1.3rem;
}

.featured-text span {
  font-weight: 700;
  font-size: var(--font-size-m);
  text-transform: capitalize;
  color: var(--white);
  line-height: 28px;
}

.featured-text span:nth-child(2) {
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--white);
  line-height: 23px;
  margin-top: 12px;
  letter-spacing: 0.5px;
}

.featured-model-btn {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--btn1-background);
  box-shadow: 0px 10px 20px rgba(255, 0, 122, 0.1);
  border-radius: 20px;
  padding: 17px 30.5px;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: var(--font-size-s);
  color: var(--black);
}

.featured-model-btn:hover {
  background: var(--pink);
  color: var(--white);
}
