.community-left {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: #ffffff;
  box-shadow: 0px 26px 84px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 40px 55px;
}

.community-left h2 {
  letter-spacing: 0.5px;

  color: var(--dim-black);
}

.community-left .profile-wrapper {
  display: flex;
  gap: 20px;
}

.community-left .profile-text {
  display: flex;
  flex-direction: column;
}
