.community-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.community-left .top-profile,
.recently-active,
.help-box {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background: #ffffff;
  box-shadow: 0px 26px 84px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 36px 51px;
}

.community-left .top-profile h2,
.recently-active h2 {
  letter-spacing: 0.5px;
  font-size: 1.36rem;

  color: var(--dim-black);
}

.community-left .top-profile .profile-wrapper,
.recently-active .profile-wrapper {
  display: flex;
  gap: 20px;
}

.community-left .top-profile .profile-text,
.recently-active .profile-text {
  display: flex;
  flex-direction: column;
}

.leftpost-btn {
  font-size: 15px;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.help-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
