.footer-container {
  background: var(--dim-black);
  margin-top: 4rem;
  width: 100%;
}

.footer-section {
  display: flex;
  gap: 12px;

  padding-top: 6rem;
}

#footer-logo span:nth-of-type(1) {
  color: var(--white);
}

.footer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 0;
}

.footer-section ul li {
  list-style: none;
  padding: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: white;
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.footer > h2 {
  font-size: 700;
  font-size: var(--font-size-m);
}

.footer span {
  font-size: var(--font-size-m);
  font-weight: 600;
  margin-top: 5px;
}

.footer-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 10px;
  gap: 16px;
  transition: var(--transition);
}

.footer-heading:hover {
  color: var(--pink);
}

.footer-heading img {
  height: 30px;
  align-self: center;
  justify-self: center;
}

.footercontact-info {
  display: flex;
  flex-direction: column;
}

.footercontact-text {
  display: flex;
  justify-content: space-between;
}

.footercontact-info h2 {
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
  color: rgb(240, 240, 240);
}

.footercontact-text .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.footercontact-text .box .icon {
  min-width: 50px;
  height: 50px;
  background: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  font-size: 20px;
}

.footercontact-text .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.footercontact-text .box .text h3 {
  font-weight: 500;
  color: var(--pink);
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-top: 140px;
  border-top: 1px solid var(--pink);
  padding: 15px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 140px;
  }

  .footer-logo span {
    font-size: 30px;
  }

  .footer-section a {
    width: 140px;
  }

  .footer-heading {
    width: 150px;
  }

  .footercontact-text .box {
    padding: 20px 5px;
  }

  .footercontact-text .box .icon {
    min-width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 984px) {
  .footer-heading h2 {
    font-size: 1.4rem;
  }

  .footercontact-info h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .footer-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footer {
    width: 110px;
    gap: 36px;
  }

  .footer-heading img {
    height: 27px;
  }

  .footer:nth-child(5) {
    display: none;
  }

  .footer-logo span {
    font-size: 28px;
  }

  .footer-section a {
    width: 130px;
  }

  .footer-heading {
    width: 140px;
  }

  .footercontact-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .footercontact-text .box {
    padding: 20px 3px;
  }

  .footercontact-text .box .icon {
    min-width: 40px;
    height: 40px;
  }

  .footercontact-text .box:nth-child(2) {
    display: none;
  }

  .footercontact-text .box .text h3 {
    font-size: 1.17rem;
  }

  .footercontact-text .box .text p {
    font-size: 0.9rem;
  }

  .footercontact-info h2 {
    font-size: 1.4rem;
  }
}
