.Section-heading {
  margin: 50px 0 50px 0;
  text-align: center;
}

.Section-heading h4 {
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 2px;
  text-transform: uppercase;
}

.Section-heading h1 {
  font-size: 50px;
  color: var(--dim-black);
}
