.signup-background {
  background-color: var(--white);
}

.agency-signup__img-container {
  position: relative;
}

.agency-signup__img-container > div {
  position: absolute;
  top: 52px;
  margin-left: 12px;
}

.agency-signup__img-container > div > h1,
.agency-signup__img-container > div > p {
  font-family: var(--font-family-roboto);
  color: #f8f8ff;
  letter-spacing: 1.5px;
}

.agency-signup__img-container > div > h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 36px;
}

.agency-signup__img-container > div > p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.agency-signup__form-one {
  border: 2px solid black;
  margin: 28px 36px 52px 52px;
}

.form__wrapper {
  padding: 96px 240px 40px 80px;
}

label {
  font-weight: 500;
  color: #1e202c;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

textarea,
input[type="password"],
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px #cdd1dc;
  border-radius: 6px;
  padding: 14px 12px;
  display: block;
  margin-top: 8px;
  border: 0.2px #d9dbe4;
}

.agency-signup-one__input-width {
  width: 220px;
}

.mail-input__wrapper {
  margin-top: 20px;
}

.input-link__width {
  width: 156px;
  margin-right: 24px;
}

.agreement__wrapper {
  margin-top: 136px;
  margin-left: 100px;
  margin-bottom: 180px;
}

input[type="radio"] {
  margin-right: 12px;
  border: 3px solid #ffffff;
}

span.link-required__symbol {
  color: #fb2047;
}

.social-media__container {
  padding-left: 80px;
}

.agency-signup-two__container {
  padding-bottom: 80px;
}

.agency-signup__form-three {
  border: 2px solid #1e202c;
  margin: 28px 36px 52px 52px;
}

.portfolio__wrapper {
  padding: 32px 110px 40px 80px;
}

.portfolio__paragraph {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #1e202c;
}

.portfolio__sub-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #c1c7de;
  margin-top: 14px;
}

.portfolio__image1-box {
  width: 234px;
  height: 190px;
  background: #1e202c;
  position: relative;
}

.upload__imageOne {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.portfolio__image-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  row-gap: 20px;
  column-gap: 60px;
}
